body {
  font-family: 'Work Sans', sans-serif;
}

.title-block {
  margin: 25px 0;
}

// Used for register/login form
.box {
  background-color: #eaeaea
}

.slide img {
  margin: 0 auto;
}

.left {
  float: left;
  flex: 49%;
}

.right {
  margin-left: 2%;
  flex: 51%;
}
