body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.title-block {
  margin: 25px 0;
}

#main-app {
  height: 100%;

  .landing-container {
    margin-top: 50px;
  }

  // Used for register/login form
  #full-cover {
    background: url('../images/felledTree.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;

    /* Full height */
    min-height: 100%;

    .login-registration {
      width: 100%;

      form {
        vertical-align: middle;
        background-color: white;
        padding: 30px;
        width: 50%;
        margin: 0 auto;
      }
    }

    .login {
      form {
        margin-top: 10%;
      }
    }

    .registration {
      form {
        margin-top: 5%;
      }
    }

    @media only screen and (max-width: 1023px) {
      .login-registration {
        form {
          width: 90%;
        }
      }

      .login {
        form {
          margin-top: 20%;
        }
      }
    }
  }
}

.slide img {
  margin: 0 auto;
}

.left {
  float: left;
  flex: 49%;
}

.right {
  margin-left: 2%;
  flex: 51%;
}
